
data_json.json
material.yaml
material_phase_phenopower_alpha_mod.yaml
Neper_columnar_85_grains_loadZ.hdf5
stress-strain_85_grains_4_cells.png
stress-strain_85_grains_4_cells.txt
Neper_columnar_85_grains_loadZ.sta
